:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue: hsl(217, 54%, 11%);
    --dark-blue2: hsl(216, 50%, 16%);
    --dark-blue: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    background: var(--dark-blue2);
    scale: 1.1;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-equil {
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.img-equil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-equil:hover .cyan {
    opacity: 1;
}

.cyan {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: hsla(178, 51%, 55%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s;
}
.cyan img {
    width: 30px;
    height: 30px;
}

h1 {
    color: #fff;
    font-size: 20px;
}
h1:hover {
    color: var(--cyan);
    cursor: pointer;
}

main > p {
    color: var(--soft-blue);
    font-weight: 300;
}

.row {
    display: flex;
    align-items: center;
}

.icon-ethereum,
.icon-clock {
    height: 15px;
    margin-right: 5px;
}

h2 {
    color: var(--cyan);
    font-size: 16px;
    margin-right: auto;
}

.days-ago {
    color: var(--soft-blue);
    font-size: 14px;
    font-weight: normal;
}

hr {
    border: none;
    border-top: 1px solid #fff1;
}

.avatar {
    width: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 15px;
}

.avatar + p {
    color: var(--soft-blue);
    font-size: 14px;
}

.avatar + p span {
    color: var(--white);
    font-weight: normal;
}
.avatar + p span:hover {
    color: var(--cyan);
    cursor: pointer;
}


.attribution {
    width: 100%;
    padding: 10px 0;
    font-size: 11px;
    text-align: center;
    background: var(--white);
    position: absolute;
    bottom: 0;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}